[Unit]
Description=Security Appliance Wrapper

[Service]
Type=forking
ExecStart=/usr/local/bin/SecAppWrapper/startWrapper.py &

[Install]
WantedBy=multi-user.target