[Unit]
Description=Security Appliance Wrapper

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/eddy/.local/bin/SecAppWrapper/startWrapper.py
TimeoutSec=15

[Install]
WantedBy=multi-user.target